* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ECF2F7;
}

.container {
    width: 80%;
    margin: 80px auto;
}

.first-section {
    width: 100%;
    height: auto;
    background-color: #6a3ab8f3;
    border-radius: 20px;
    margin-bottom: 25px;
}

.bgimg{
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 200px 0;
    background-size: 140px;
}

.first-body {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;

}

.first-head{
    display: flex;
}

.first-head img{
    width: 50px;
    height: 50px;
    border: 3px solid #ad9acb;
    border-radius: 50%;
}

.name1{
   margin-left: 20px;
   margin-top: 9px;
   color: rgba(255, 255, 255, 0.697);
   font-weight: lighter;
   font-size: 13px;
}

.name2{
   margin-left: 20px;
   margin-top: 9px;
   color: black;
   font-weight: lighter;
   font-size: 13px;
}

.first-fontsh{
   margin: 20px 0;
   font-size: 25px;
   color: white;
   z-index: 1;
   letter-spacing: 2px;
   line-height: 32px;
}

.second-fontsh{
   margin: 20px 0;
   font-size: 25px;
   font-weight: bolder;
   color: black;
   z-index: 1;
   letter-spacing: 2px;
   line-height: 32px;
}

.first-fontsp{
    color: rgba(255, 255, 255, 0.619);
    line-height: 25px;
}

.second-fontsp{
    font-weight: 600;
    color: rgba(121, 111, 111, 0.517);
    line-height: 25px;
}

.second-bg{
    background-color: #49556A;
}

.third-bg{
    background-color: white;
}

.fourth-bg{
    background-color: black;
}

.fifth-bg{
    background-color: white;
}